html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}

header{
    display: flex;
    width: 266px;
    height: 100%;
    padding: 64px 0;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: #AC880A;
    top: 0;
    left: 0;
    position: fixed;

}

.header_logo{
    width: 120px;
}

.navigation{
    display: flex;
    flex-flow: column;
    row-gap: 40px;
}

.navigation_list{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}

.navigation_list:hover{
    color: #291c11;
}

.sns{
    display: flex;
    column-gap: 40px;
}

.sns_img{
    width: 40px;
}

.contents{
    padding-left: 266px;
}

.main_visual{
    background-image: url(../img/photo01.jpg);
    background-size: cover;
    height: 100vh;
}

.section{
    padding: 120px 0;
}

.section_title{
    flood-color: #291C11;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 56px;
}

.menu{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

.menu_img{
    width: 284px;
    object-fit: cover;
    aspect-ratio: 3/2;
}

.information{
    background-color: #E8DACF;
}
.blog{
    margin: 32px 0 ;
    display: flex;
}

.blog_container{
    max-width: 900px;
    margin: 0 auto;
}

.blog_img{
    margin-right: 16px;
    width: 180px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.blog_date{
    color: #6A6A6A;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
}

.blog_text{
    font-size: 16px;
    line-height: 1.5;
    color: #000000;

}

.shop{
    display: flex;
    width: 900px;
    margin: 0 auto;
}

.shop_img{
    width: 420px;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.shop_info{
    color: #fff;
    background-color: #291c11;
    padding: 40px 46px;
}

.shop_name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.shop_time{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}
.shop_address{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

iframe{
    width: 388px;
    height: 259px;
}

footer{
    background-color: #291C11;
    width: 100%;
    line-height: 64px;
    text-align: center;
}

.copyright{
    color: #fff;
    margin-left: 266px;
}